.header-container{
    display:grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 50% 50%
}
.individual-book-container{
    display:flex;
    flex-wrap: wrap;
    align-content: center

}
.addBooks-container{
    text-align: center
}

.map-bookcard {
    text-align: center;
    margin: auto
}

.book-card{
    border: 1px dotted lightgrey;
    margin: 1px;
    display:flex;
    flex-wrap: wrap;
    align-content: space-evenly
}
    
.book-title{
    display:flex;
    align-content: space-evenly
}

.expand-button {
    margin-left: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  }